In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv(r'C:\Users\sathvik\Desktop\Preprocessed.csv')
data.head()

,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Reason_1,Reason_2,Reason_3,Reason_3.1,Month value,Day of the week
0,2015-07-07,289,36,33,239.554,30,0,2,1,4,0,0,0,1,7,1
1,2015-07-14,118,13,50,239.554,31,0,1,0,0,0,0,0,0,7,1
2,2015-07-15,179,51,38,239.554,31,0,0,0,2,0,0,0,1,7,2
3,2015-07-16,279,5,39,239.554,24,0,2,0,4,1,0,0,0,7,3
4,2015-07-23,289,36,33,239.554,30,0,2,1,2,0,0,0,1,7,3

In [4]:
data = data.drop(['Date'],axis=1)#so i forgot to drop the date..lets do it now

In [5]:
data.head(10)

,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Reason_1,Reason_2,Reason_3,Reason_3.1,Month value,Day of the week
0,289,36,33,239.554,30,0,2,1,4,0,0,0,1,7,1
1,118,13,50,239.554,31,0,1,0,0,0,0,0,0,7,1
2,179,51,38,239.554,31,0,0,0,2,0,0,0,1,7,2
3,279,5,39,239.554,24,0,2,0,4,1,0,0,0,7,3
4,289,36,33,239.554,30,0,2,1,2,0,0,0,1,7,3
5,179,51,38,239.554,31,0,0,0,2,0,0,0,1,7,4
6,361,52,28,239.554,27,0,1,4,8,0,0,0,1,7,4
7,260,50,36,239.554,23,0,4,0,4,0,0,0,1,7,4
8,155,12,34,239.554,25,0,2,0,40,0,0,1,0,7,0
9,235,11,37,239.554,29,1,1,1,8,0,0,0,1,7,0

In [6]:
data['Absenteeism Time in Hours'].median()

3.0

In [7]:
#People wh are absent less than 3hrs are moderatly absent and above 3hrs are excessively absent

In [8]:
targets = np.where(data['Absenteeism Time in Hours']>3,1,0)

In [9]:
targets

array([1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0])

In [10]:
data['Excessive Absenteeism']=targets

In [11]:
data.head(2)

,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Reason_1,Reason_2,Reason_3,Reason_3.1,Month value,Day of the week,Excessive Absenteeism
0,289,36,33,239.554,30,0,2,1,4,0,0,0,1,7,1,1
1,118,13,50,239.554,31,0,1,0,0,0,0,0,0,7,1,0

In [12]:
targets.sum()/len(targets)

0.45571428571428574

In [13]:
#so there are 45% of Excessive Absentees(1s) and 55% moderate(0s) which well balanced to proceed

In [14]:
data = data.drop(['Absenteeism Time in Hours'],axis=1)

In [44]:
data=data.drop(['Daily Work Load Average'],axis=1) #to increase acurracy

In [45]:
unscaled_inputs = data.iloc[:,:-1]#taking inputs except last coloumn i.e. Excessive Absenteeism

# standardization of data

In [46]:
from sklearn.preprocessing import StandardScaler

In [47]:
scaler = StandardScaler()
scaler.fit(unscaled_inputs)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [48]:
scaled_inputs=scaler.transform(unscaled_inputs)

# test train split

In [49]:
from sklearn.model_selection import train_test_split

In [50]:
train_test_split(scaled_inputs,targets)

[array([[-0.6541427 , -0.26313992, -1.00668572, ...,  0.82136542,
          0.18272635,  0.66825259],
        [-1.57468098, -1.34466913,  0.09143539, ...,  0.82136542,
          0.18272635,  1.34423065],
        [ 0.38712192, -0.33073549,  1.66017984, ...,  0.82136542,
          0.46823627, -0.00772546],
        ...,
        [-0.6541427 , -0.53352222,  0.56205873, ..., -1.21748491,
          1.32476605,  0.66825259],
        [ 0.19094163, -0.06035319,  1.81705428, ..., -1.21748491,
          0.46823627, -1.35968157],
        [-0.6541427 ,  1.42674947,  0.24830984, ..., -1.21748491,
          0.18272635, -0.00772546]]),
 array([[ 0.04003371, -0.26313992, -1.32043461, ...,  0.82136542,
         -0.95931334, -1.35968157],
        [-1.57468098, -1.1418824 ,  2.13080317, ..., -1.21748491,
         -0.10278357, -0.00772546],
        [-1.57468098, -1.34466913,  0.09143539, ...,  0.82136542,
          0.7537462 , -0.68370352],
        ...,
        [ 0.04003371, -0.26313992, -1.32043461, ...,  0.82136542,
          1.32476605, -0.00772546],
        [ 0.04003371, -0.26313992, -1.32043461, ...,  0.82136542,
         -1.24482327, -0.68370352],
        [-0.6541427 ,  1.42674947,  0.24830984, ...,  0.82136542,
         -1.24482327, -1.35968157]]),
 array([0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1,
        0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1,
        0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0,
        0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1,
        0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0,
        0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0,
        1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1,
        1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0,
        0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1,
        1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0,
        1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1,
        0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1,
        0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0,
        1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0,
        0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0,
        0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1,
        0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1,
        0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1,
        0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1,
        1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0,
        0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1,
        0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0,
        1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0]),
 array([0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0,
        1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0,
        0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0,
        0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0,
        0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0,
        0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1,
        1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0,
        0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0])]

In [51]:
x_train,x_test,y_train,y_test=train_test_split(scaled_inputs,targets,test_size=0.9,random_state=20)

In [52]:
from sklearn.linear_model import LogisticRegression

In [53]:
reg=LogisticRegression()
reg.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [54]:
reg.score(x_train,y_train)#to check the accuracy directly instead of manual process i.e. predict

0.7857142857142857

In [55]:
#SO OUR ACCURACY ID 78%

# finding coefficients & intercepts

In [56]:
reg.intercept_

array([0.38326743])

In [57]:
reg.coef_

array([[ 1.0078294 ,  0.20462889, -0.22303764,  0.27898997, -0.3118634 ,
         0.12799791, -0.61709904,  1.26324991,  0.53990705,  1.50842962,
         0.33947156,  0.40673383, -0.2791117 ]])

In [58]:
unscaled_inputs.columns.values#there is a mistake. so changing column name reason_3.1 as reason_4

array(['Transportation Expense', 'Distance to Work', 'Age',
       'Body Mass Index', 'Education', 'Children', 'Pets', 'Reason_1',
       'Reason_2', 'Reason_3', 'Reason_3.1', 'Month value',
       'Day of the week'], dtype=object)

In [59]:
unscaled_inputs=unscaled_inputs.rename(columns={'Reason_3.1':'Reason_4'})

In [60]:
unscaled_inputs.head()

,Transportation Expense,Distance to Work,Age,Body Mass Index,Education,Children,Pets,Reason_1,Reason_2,Reason_3,Reason_4,Month value,Day of the week
0,289,36,33,30,0,2,1,0,0,0,1,7,1
1,118,13,50,31,0,1,0,0,0,0,0,7,1
2,179,51,38,31,0,0,0,0,0,0,1,7,2
3,279,5,39,24,0,2,0,1,0,0,0,7,3
4,289,36,33,30,0,2,1,0,0,0,1,7,3

In [61]:
feature_name=unscaled_inputs.columns.values

In [62]:
summary_table = pd.DataFrame(columns=['Feature name'], data=feature_name)
summary_table['Coefficiants']=np.transpose(reg.coef_)
summary_table

              Feature name  Coefficiants
0   Transportation Expense      1.007829
1         Distance to Work      0.204629
2                      Age     -0.223038
3          Body Mass Index      0.278990
4                Education     -0.311863
5                 Children      0.127998
6                     Pets     -0.617099
7                 Reason_1      1.263250
8                 Reason_2      0.539907
9                 Reason_3      1.508430
10                Reason_4      0.339472
11             Month value      0.406734
12         Day of the week     -0.279112

In [63]:
summary_table.index=summary_table.index+1
summary_table.loc[0]=['Intercept',reg.intercept_[0]]
summary_table

              Feature name  Coefficiants
1   Transportation Expense      1.007829
2         Distance to Work      0.204629
3                      Age     -0.223038
4          Body Mass Index      0.278990
5                Education     -0.311863
6                 Children      0.127998
7                     Pets     -0.617099
8                 Reason_1      1.263250
9                 Reason_2      0.539907
10                Reason_3      1.508430
11                Reason_4      0.339472
12             Month value      0.406734
13         Day of the week     -0.279112
0                Intercept      0.383267

In [64]:
summary_table=summary_table.sort_index()
summary_table

              Feature name  Coefficiants
0                Intercept      0.383267
1   Transportation Expense      1.007829
2         Distance to Work      0.204629
3                      Age     -0.223038
4          Body Mass Index      0.278990
5                Education     -0.311863
6                 Children      0.127998
7                     Pets     -0.617099
8                 Reason_1      1.263250
9                 Reason_2      0.539907
10                Reason_3      1.508430
11                Reason_4      0.339472
12             Month value      0.406734
13         Day of the week     -0.279112

In [65]:
summary_table['odds ratio'] = np.exp(summary_table.Coefficiants)
#since it is a log. regression we will apply exp. to coeffiients and see its values 
summary_table

              Feature name  Coefficiants  odds ratio
0                Intercept      0.383267    1.467070
1   Transportation Expense      1.007829    2.739648
2         Distance to Work      0.204629    1.227070
3                      Age     -0.223038    0.800085
4          Body Mass Index      0.278990    1.321794
5                Education     -0.311863    0.732082
6                 Children      0.127998    1.136551
7                     Pets     -0.617099    0.539507
8                 Reason_1      1.263250    3.536897
9                 Reason_2      0.539907    1.715847
10                Reason_3      1.508430    4.519628
11                Reason_4      0.339472    1.404205
12             Month value      0.406734    1.501904
13         Day of the week     -0.279112    0.756455

In [66]:
summary_table.sort_values('odds ratio',ascending=False)#because by default the order is ascending

              Feature name  Coefficiants  odds ratio
10                Reason_3      1.508430    4.519628
8                 Reason_1      1.263250    3.536897
1   Transportation Expense      1.007829    2.739648
9                 Reason_2      0.539907    1.715847
12             Month value      0.406734    1.501904
0                Intercept      0.383267    1.467070
11                Reason_4      0.339472    1.404205
4          Body Mass Index      0.278990    1.321794
2         Distance to Work      0.204629    1.227070
6                 Children      0.127998    1.136551
3                      Age     -0.223038    0.800085
13         Day of the week     -0.279112    0.756455
5                Education     -0.311863    0.732082
7                     Pets     -0.617099    0.539507

# testing the data

In [67]:
reg.score(x_test,y_test)
#we removed Daily Work Load Average because it's odds ratio is almost 1 and could have no effect in prediction and increased 
#our accuracy from 69 to 71

0.719047619047619

In [69]:
prob=reg.predict_proba(x_test)
prob

array([[0.54616317, 0.45383683],
       [0.46724137, 0.53275863],
       [0.19909233, 0.80090767],
       ...,
       [0.63371144, 0.36628856],
       [0.44923321, 0.55076679],
       [0.06348226, 0.93651774]])

In [70]:
#here the first column specifies the prob of being 0 i.e. moderate absenteeism and second coloumns pecifies the prob of being 1
#i.e. excessive absenteeism

In [71]:
prob[:,:1]#all probs of excessive absenteeism

array([[0.54616317],
       [0.46724137],
       [0.19909233],
       [0.75290988],
       [0.02781398],
       [0.13403772],
       [0.36253136],
       [0.01631397],
       [0.86499347],
       [0.56766715],
       [0.26605982],
       [0.08527479],
       [0.00812651],
       [0.80338785],
       [0.06191883],
       [0.51632525],
       [0.39315401],
       [0.50395491],
       [0.4204556 ],
       [0.00144245],
       [0.62421084],
       [0.71616531],
       [0.24268658],
       [0.31850308],
       [0.04437333],
       [0.78189879],
       [0.46017976],
       [0.89154437],
       [0.00696694],
       [0.6763057 ],
       [0.48898602],
       [0.273404  ],
       [0.12905954],
       [0.22322692],
       [0.71616531],
       [0.48868631],
       [0.85084859],
       [0.05363466],
       [0.52550689],
       [0.36029227],
       [0.61671435],
       [0.65061282],
       [0.84523313],
       [0.48234796],
       [0.06734974],
       [0.08518866],
       [0.36343551],
       [0.49912667],
       [0.7473908 ],
       [0.7935479 ],
       [0.26250199],
       [0.34945174],
       [0.15748693],
       [0.45560848],
       [0.04265028],
       [0.24635106],
       [0.00614857],
       [0.80274106],
       [0.52458714],
       [0.54263987],
       [0.19063188],
       [0.17351465],
       [0.68552976],
       [0.02106124],
       [0.90391113],
       [0.51002025],
       [0.85157417],
       [0.79639695],
       [0.02040518],
       [0.71972509],
       [0.85084859],
       [0.35324804],
       [0.02806818],
       [0.56860872],
       [0.21281469],
       [0.6763057 ],
       [0.00816353],
       [0.45535734],
       [0.05603142],
       [0.27986813],
       [0.76927451],
       [0.92648173],
       [0.87756117],
       [0.20744227],
       [0.59181907],
       [0.89968897],
       [0.12423972],
       [0.36077864],
       [0.56367963],
       [0.31243785],
       [0.94772408],
       [0.92067151],
       [0.65038208],
       [0.41647512],
       [0.65693975],
       [0.07682051],
       [0.51725652],
       [0.13390744],
       [0.67620045],
       [0.83681906],
       [0.20560538],
       [0.23756184],
       [0.1135608 ],
       [0.29018164],
       [0.45667974],
       [0.32942881],
       [0.57476189],
       [0.12782457],
       [0.14007242],
       [0.83538257],
       [0.94081695],
       [0.04759748],
       [0.03585961],
       [0.52887862],
       [0.33540714],
       [0.29644524],
       [0.02284605],
       [0.22230524],
       [0.5847336 ],
       [0.64106897],
       [0.63031297],
       [0.76713685],
       [0.05926156],
       [0.51392486],
       [0.6763057 ],
       [0.58963717],
       [0.7391674 ],
       [0.90451918],
       [0.06874949],
       [0.5790285 ],
       [0.19078525],
       [0.70119026],
       [0.33500367],
       [0.71676799],
       [0.71889938],
       [0.47058168],
       [0.45689392],
       [0.80106947],
       [0.54248351],
       [0.56860872],
       [0.47013064],
       [0.04295464],
       [0.44158509],
       [0.10821146],
       [0.48664873],
       [0.29797721],
       [0.68659814],
       [0.0087605 ],
       [0.94285784],
       [0.08433621],
       [0.17812751],
       [0.23756184],
       [0.93381317],
       [0.05642281],
       [0.63437677],
       [0.73973898],
       [0.80091334],
       [0.43420537],
       [0.86743476],
       [0.17769025],
       [0.07578103],
       [0.71616531],
       [0.39268916],
       [0.89836248],
       [0.56561506],
       [0.67693311],
       [0.70119026],
       [0.07970567],
       [0.29706917],
       [0.63374609],
       [0.59660365],
       [0.33398361],
       [0.91741629],
       [0.00229331],
       [0.64016778],
       [0.87149872],
       [0.51305359],
       [0.72553101],
       [0.50586383],
       [0.58891912],
       [0.11610181],
       [0.45597946],
       [0.03310424],
       [0.01056038],
       [0.23605831],
       [0.55434515],
       [0.41647512],
       [0.79444343],
       [0.45974009],
       [0.04734698],
       [0.42970486],
       [0.0255517 ],
       [0.74175979],
       [0.48452786],
       [0.91961677],
       [0.28343811],
       [0.24747038],
       [0.94285784],
       [0.39675196],
       [0.84140581],
       [0.92843057],
       [0.88094766],
       [0.2344103 ],
       [0.89968897],
       [0.5790285 ],
       [0.6003482 ],
       [0.44494072],
       [0.25213587],
       [0.81878526],
       [0.39268916],
       [0.83550356],
       [0.23962645],
       [0.27901899],
       [0.95235565],
       [0.70119026],
       [0.73412348],
       [0.00519755],
       [0.91321041],
       [0.76409304],
       [0.12587616],
       [0.00915956],
       [0.19576775],
       [0.96693684],
       [0.84229943],
       [0.60704626],
       [0.07159257],
       [0.26141983],
       [0.44494072],
       [0.58537697],
       [0.16735363],
       [0.70119026],
       [0.88799392],
       [0.19767801],
       [0.66022539],
       [0.90728555],
       [0.86489066],
       [0.42327579],
       [0.28935809],
       [0.90451918],
       [0.26141983],
       [0.00336856],
       [0.06940311],
       [0.16329028],
       [0.34871422],
       [0.0593703 ],
       [0.08864686],
       [0.91961677],
       [0.93316202],
       [0.00660815],
       [0.90448156],
       [0.58891912],
       [0.23813199],
       [0.7614489 ],
       [0.03875542],
       [0.15788098],
       [0.63371144],
       [0.85982281],
       [0.29838503],
       [0.01388685],
       [0.0511525 ],
       [0.03349026],
       [0.23291655],
       [0.36699533],
       [0.77387439],
       [0.84887179],
       [0.00297586],
       [0.9362699 ],
       [0.26830448],
       [0.93451947],
       [0.56766715],
       [0.28133876],
       [0.50277978],
       [0.50349661],
       [0.79639695],
       [0.62421084],
       [0.6763057 ],
       [0.50163422],
       [0.51725652],
       [0.61671435],
       [0.48099911],
       [0.33500367],
       [0.7391674 ],
       [0.31380778],
       [0.42288447],
       [0.15748693],
       [0.36536598],
       [0.70119026],
       [0.08864686],
       [0.87789496],
       [0.29340666],
       [0.80939361],
       [0.87940655],
       [0.05507104],
       [0.35712709],
       [0.09035567],
       [0.55796384],
       [0.9362699 ],
       [0.06323459],
       [0.60925898],
       [0.4425766 ],
       [0.1412707 ],
       [0.89534394],
       [0.26418135],
       [0.42070113],
       [0.59660365],
       [0.21281469],
       [0.59085686],
       [0.48099911],
       [0.03514579],
       [0.12905954],
       [0.51392486],
       [0.86653877],
       [0.82886091],
       [0.81419892],
       [0.03514579],
       [0.89968897],
       [0.90901007],
       [0.84140581],
       [0.71616531],
       [0.64106897],
       [0.08549161],
       [0.46659355],
       [0.95318718],
       [0.19124724],
       [0.09312843],
       [0.85073687],
       [0.70119026],
       [0.2344103 ],
       [0.82048568],
       [0.50373913],
       [0.18416601],
       [0.23683985],
       [0.00888831],
       [0.58891912],
       [0.82492455],
       [0.44093605],
       [0.61049901],
       [0.0808438 ],
       [0.07837058],
       [0.3613491 ],
       [0.58984785],
       [0.52028719],
       [0.02568697],
       [0.34917424],
       [0.48403035],
       [0.91060341],
       [0.18838748],
       [0.74996942],
       [0.93250524],
       [0.295481  ],
       [0.03490999],
       [0.25925055],
       [0.05363466],
       [0.81121809],
       [0.70119026],
       [0.8855602 ],
       [0.78923923],
       [0.61325443],
       [0.77387439],
       [0.23962645],
       [0.06167686],
       [0.65358859],
       [0.85618662],
       [0.62421084],
       [0.25923146],
       [0.49912667],
       [0.74785648],
       [0.5202429 ],
       [0.03411235],
       [0.89935771],
       [0.87630065],
       [0.00257498],
       [0.30866906],
       [0.93920618],
       [0.65038208],
       [0.39394378],
       [0.17037212],
       [0.90940672],
       [0.50277978],
       [0.32942881],
       [0.9362699 ],
       [0.28935809],
       [0.73332582],
       [0.52090433],
       [0.00439762],
       [0.75541217],
       [0.03170727],
       [0.20935969],
       [0.39860032],
       [0.91291949],
       [0.03686369],
       [0.94285784],
       [0.4462054 ],
       [0.74802239],
       [0.05310934],
       [0.53608971],
       [0.32100496],
       [0.0046587 ],
       [0.25213587],
       [0.00997188],
       [0.00334107],
       [0.48033756],
       [0.34422256],
       [0.06323459],
       [0.53608971],
       [0.34871422],
       [0.3456484 ],
       [0.32282435],
       [0.9362699 ],
       [0.4384761 ],
       [0.09874635],
       [0.0851546 ],
       [0.30343241],
       [0.77387439],
       [0.27901899],
       [0.54268806],
       [0.08828086],
       [0.13194165],
       [0.78189879],
       [0.40982835],
       [0.79639695],
       [0.72471586],
       [0.45144923],
       [0.85836962],
       [0.41536192],
       [0.80996294],
       [0.48452786],
       [0.57476189],
       [0.23605831],
       [0.49912667],
       [0.90448156],
       [0.42070113],
       [0.01661694],
       [0.05141543],
       [0.04359081],
       [0.38746768],
       [0.4622626 ],
       [0.39394378],
       [0.01117603],
       [0.00409115],
       [0.63999258],
       [0.55694184],
       [0.81458044],
       [0.76411096],
       [0.68323532],
       [0.01308156],
       [0.84140581],
       [0.94645774],
       [0.19222254],
       [0.70199369],
       [0.55049231],
       [0.72791203],
       [0.09590749],
       [0.04455592],
       [0.04759748],
       [0.77921472],
       [0.15606252],
       [0.44158509],
       [0.93882132],
       [0.9527172 ],
       [0.73345003],
       [0.45560848],
       [0.53831542],
       [0.14303523],
       [0.23377086],
       [0.35158526],
       [0.51355124],
       [0.80091334],
       [0.06225989],
       [0.09849145],
       [0.4211947 ],
       [0.06814512],
       [0.02359578],
       [0.87037919],
       [0.40592429],
       [0.21281469],
       [0.29962682],
       [0.76128901],
       [0.61671435],
       [0.70119026],
       [0.44923321],
       [0.50277978],
       [0.89021987],
       [0.75290988],
       [0.85982281],
       [0.00452629],
       [0.23962645],
       [0.32007873],
       [0.77387439],
       [0.80790778],
       [0.83495442],
       [0.09844878],
       [0.68323532],
       [0.92897964],
       [0.08102105],
       [0.7935479 ],
       [0.13743577],
       [0.44380932],
       [0.51355124],
       [0.32474793],
       [0.11847241],
       [0.88555013],
       [0.13390744],
       [0.05310934],
       [0.1114605 ],
       [0.79574917],
       [0.6510338 ],
       [0.58891912],
       [0.7425234 ],
       [0.20091446],
       [0.16728666],
       [0.00430771],
       [0.65693975],
       [0.93250524],
       [0.03715181],
       [0.33398361],
       [0.44158509],
       [0.30866906],
       [0.91483508],
       [0.81222903],
       [0.03170727],
       [0.22718312],
       [0.6510338 ],
       [0.48033756],
       [0.83036311],
       [0.30691781],
       [0.20225709],
       [0.04041195],
       [0.46772651],
       [0.06986957],
       [0.51310288],
       [0.01056965],
       [0.41942834],
       [0.92873745],
       [0.93123629],
       [0.94345427],
       [0.93497551],
       [0.7391674 ],
       [0.77387439],
       [0.40061285],
       [0.62684944],
       [0.04935189],
       [0.06343772],
       [0.58724694],
       [0.02756645],
       [0.10109355],
       [0.44588868],
       [0.04571272],
       [0.95988543],
       [0.72493982],
       [0.33242386],
       [0.08808132],
       [0.00621902],
       [0.81458044],
       [0.3853302 ],
       [0.00998065],
       [0.45053447],
       [0.90162224],
       [0.90451918],
       [0.59615774],
       [0.85084859],
       [0.33701825],
       [0.53922618],
       [0.94345427],
       [0.03339657],
       [0.9440109 ],
       [0.56054454],
       [0.47262997],
       [0.73124203],
       [0.84661758],
       [0.04265028],
       [0.90940672],
       [0.02429316],
       [0.11209811],
       [0.0400535 ],
       [0.7416377 ],
       [0.74175979],
       [0.18855816],
       [0.17291693],
       [0.64106897],
       [0.43328942],
       [0.60286886],
       [0.81878526],
       [0.00274215],
       [0.33500367],
       [0.92704458],
       [0.77387439],
       [0.36536598],
       [0.51305359],
       [0.00645859],
       [0.40210836],
       [0.27342375],
       [0.20560538],
       [0.62785897],
       [0.48868631],
       [0.50163422],
       [0.76072459],
       [0.69571426],
       [0.80091334],
       [0.31526541],
       [0.65255715],
       [0.79574917],
       [0.39412382],
       [0.07074631],
       [0.6237762 ],
       [0.46724137],
       [0.61049901],
       [0.77387439],
       [0.22155957],
       [0.69788129],
       [0.7890928 ],
       [0.82528877],
       [0.00403204],
       [0.67695484],
       [0.26483271],
       [0.01555302],
       [0.72493982],
       [0.83538257],
       [0.02745969],
       [0.61671435],
       [0.30441139],
       [0.00201869],
       [0.50277978],
       [0.51800808],
       [0.54690915],
       [0.31379139],
       [0.66195273],
       [0.63371144],
       [0.44923321],
       [0.06348226]])

# SAVING THE MODEL

In [72]:
import pickle

In [75]:
with open('model', 'wb') as file:
    pickle.dump(reg, file)#pickle the model file

In [74]:
with open('scaler','wb') as file:
    pickle.dump(scaler, file)#pickle the scaler file